/**global fonts imports in all pages*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100vh;
}

/* COVER HEADER*/
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* COVER BODY */
.cover-container {
  max-width: 42em;
}

/* I upadted the bg to an illustration */

.cover {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */
  background-size: 100% 100%;
}

.container-ht {
  height: 30rem;
}

.nav-link:hover {
  color: #fff;
}
